.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    cursor: none; 
  }
  
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
  }
  