.flexdashcon{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}
.MuiPaper-root .MuiPaper-elevation .MuiPaper-rounded .MuiPaper-elevation1 .MuiTableContainer-root .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    display: inline-block;
    width: 60%;
    margin: 0;
}